nav a {font-size: 20px;
color: white;
text-decoration: none;}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}
main img {
    width: 100%;
    margin-top: 50px;
}

section {flex-wrap: wrap;}

section div:hover .d-none {
    display: inline-block;
}
.hide{
    top: 0;
    left: 0;
}
.marca {
    color: grey;
    font-size: 14;
}
.nomeprod {
    font-size: 18;
    font-weight: 700;
}
.prezzo {
    font-size: 14;
    display: inline-block;
}